/* PAGE */
body {
    margin-bottom: 0px;
    position: relative;
}


/* FOOTER */
footer {
    background-color: #151f28;
    margin-bottom: 0px;
}


/* WELCOME */
#jumbotron-home {
    background-image: url("/img/brand/artworkingguy-banner.png");
    background-size: cover;
    min-height: 500px;
    color: white;
}

#jumbotron-home p {
    font-size: 1.5rem;
}


/* SERVICES */
#services .col {
    padding-left: 0;
    padding-right: 0;
}

#services a:link, #services a:visited {
    color: white;
}
  
#services a:hover {
    color: #ffcd00;
    text-decoration: none;
}

.services-slider .jumbotron {
    height: 300px;
    width: 450px;
    margin: 0px 5px;
    padding: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    outline: none;
}

.services-slider .jumbotron a {
    outline: none;
}

.services-slide-text {
    margin-bottom: 15px;
}

.services-slide-1 {
    background-image: url("/img/services/company-identity/company-identity-banner.png");   
}

.services-slide-2 {
    background-image: url("/img/services/technical-communication/technical-communication-banner.png");
}

.services-slide-3 {
    background-image: url("/img/services/theatrical/theatrical-banner.png");
}

.services-slide-4 {
    background-image: url("/img/services/ui-design/ui-design-banner.png");
}


/* CONTACT */
#contact {
    background-color: #f3f3f3
}